---
layout: default
---

{% include career-profile.html %}

{% include teaching.html %}

{% unless site.data.data.sidebar.education %}
  {% include education.html %}
{% endunless %}

{% include experiences.html %}

{% include projects.html %}

{% include publications.html %}

<h3>A few useful links</h3>
<ul>
  <a href = "https://sites.google.com/view/basac-training/"><li> Behaviors Academics Should Avoid Completely</li></a>
  <a href = "https://www.cupahr.org/events/21-day-challenges/21-day-racial-equity-habit-building-challenge/"><li> CUPA-HR 21-Day Racial Equity Habit Building Challenge</li></a>
  <a href = "http://lgbtmath.org/People.html"><li>Spectra out and ally list</li></a>
</ul>

<p>
  I subscribe to <a href = "http://fardila.com/">Federico Ardila’s axioms</a>:
  <ol>
  <li> Mathematical potential is distributed equally among different groups, irrespective of geographic, demographic, and economic boundaries.</li>
  <li> Everyone can have joyful, meaningful, and empowering mathematical experiences.</li>
  <li> Mathematics is a powerful, malleable tool that can be shaped and used differently by various communities to serve their needs.</li>
  <li> Every student deserves to be treated with dignity and respect.</li>
  </ol>
</p>

<h4> Calendar</h4>

<iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FNew_York&src=d29sc2VuLm1hdGhAZ21haWwuY29t&src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&color=%23039BE5&color=%230B8043" style="border:solid 1px #777" width="700" height="600" frameborder="0" scrolling="no"></iframe>
